[buildout]
extends =
    versions.cfg

socket-timeout = 3

allow-hosts =
    *.python.org
    *.sourceforge.net
    github.com

versions = versions

extensions =
    buildout.dumppickedversions

eggs-directory = eggs
# activate this if yo want to use a cache dir, you will have to create the dir
#download-cache = ${buildout:directory}/downloads

parts =
    pyramid

eggs =
    ZopeSkel

# to thing about for the future, put application under src

[pyramid]
recipe = zc.recipe.egg
dependent-scripts = true
eggs =
    pyramid
    nose
    WebTest

interpreter = py
